/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    margin: 10px;
}

.standard-button {
    display: inline-block;
    margin: 10px 0;
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    &:hover {
        color: black;
        background-color: gold;
    }
}

#index,
#show {

    width: 900px;
    margin: 0 auto;

    .link-column {
        width: 50px;
        background-color: white;
    }

    table {
        width: 100%;
        border: 0;
    }

    th, td {
        margin: 5px;
        padding: 2px;
    }

    th {
        background-color: gold;
    }

    a {
        background-color: dodgerblue;
        color: white;
        padding: 5px;
        display: inline-block;

        &:hover {
            color: black;
            background-color: gold;
        }
    }

    td a {
        width: 80%;
        text-align: center;
    }

}

#edit,
#new {

    form {
        width: 300px;
        margin: 0 auto;
        border: 2px solid dodgerblue;
        padding: 20px;
    }

    label {
        display: block;
    }

    input,
    textarea
    {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 20px;
        margin-top: 3px;
        padding: 3px;
        width: 95%;
    }

    input[type=submit] {
        width: 50%;
        display: inline-block;
        margin-left: 25%;
    }


}